{
    "parser": "babel-eslint",
    "extends": "standard",
    "plugins": [
        "react"
    ],
    "rules": {
      "arrow-parens": 0,
      "no-unused-vars": 0,
      "no-return-assign": 1,
      "jsx-quotes": [ 1, "prefer-double" ]
    }
}
