body {
  margin: 0
}

.container {
  margin: 2em;
}

section.element {
  display: none;
  width: 100%;
  border: solid 1px;
  margin: 1em;
}

section.element.active {
  display: block
}

.editor {
  min-height: 5em;
  border: .12em solid grey;
  padding: 1em;
}

navbar {
  display: block;
  width: 100%;
  border-bottom: solid .1em grey;
}

navbar a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: .75em;
  margin: 0 .25em;
  border-bottom: 0;
  border-top: 0;
  border-left: solid .1em grey;
  border-right: solid .1em grey;
}

navbar a:hover {
  text-decoration: none;
  color: black;
}

navbar a.active {
  background-color: #a0a0a0;
  color: white;
}

navbar section {
  display: inline-block;
  margin: 0 .5em;
}

button, a.button {
  background-color: white;
  color: black;
  border: solid .12em grey;
  border-radius: .5em;
  padding: .75em;
  margin: .25em;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  transition: all .25s ease;
}

button:hover {
    background-color: #afafaf;
    color: white;
    border-color: white;
}

input[type="text"] {
    padding: .75em;
    border: solid .12em grey;
}

.paged-memory-viewer, .register-viewer {
  display: inline-block;
  vertical-align: top;
  margin: 2em;
}

.paged-memory-viewer .buttons button {
  margin: 0 .5em;
}

.memory-cell {
  display: block
}

.memory-cell div {
  display: inline-block;
  text-align: justify;
  min-width: 5em;
}

.memory-cell .memory-value {
  margin-left: 2em;
}

td {
  border: .1em solid grey;
  padding: .5em;
  min-width: 5em;
}

thead td {
  font-weight: bold
}
